massif.out.*
vgcore.*
.*.swp
*~

abc_ladapakolas
hanoi
jarda1
jarda2
jarda3
korutak
vonatok
zart_polygon_keszitese
szokereso
dns_vizsgalat
cso_vasarlas
vizitura
talalkozasok
allatkertek
alma
arvizmentes
arvizmentes_
atlo
azonos_csoportok
baratok
csoportok
duplavermes_vasut
ekvivalens_csoportok
etterem
fogad_
fogadas
hideg_es_meleg_napok
ido
ioival-vasutak
ismerosok
ismerosok_
kodok
kozepso_eletkoru
ioival-halozatfelezes
e16okt
bolha
hegy
